.header-bar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  list-style: none;
}

.logo-del-navbar {
  height: 3rem;
  width: 10.5rem;
}

.search {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.search>input {
  width: 90%;
}
