.header-bar > ul {
  background-color: rgb(172, 14, 14);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  list-style: none;
}

.logo-del-navbar {
  height: 3.5rem;
  width: 10.5rem;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
