.bar-nave {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.boton-nav {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
